.post {
    color: black;
    padding:40px;
    max-width: 720px;
    margin: auto;
}

.post-feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
    max-height: 500px;
    margin: 0;
    background-image: linear-gradient(45deg, #884817, #21020f);
}

.post-feature-img img {
    max-width: 100%;
    height: auto;
}

.post-header {
    display: flex;
    flex-direction: column;
}

.post-byline {
    display: flex;
    flex-direction: column;
}

.author-link {
    margin: auto;
    padding: 4px;
}

.author-avatar {
    max-height: 2.5em;
}

.author-info {
    font-size: small;
    line-height: 1.1;
    text-align: center;
}

.author-info p {
    margin: 0%;
}

.author-info name {
    font-weight: bold;
}

.author-info bio {
    font-style: italic;
}

.post-share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.share-link {
    font-size: 1.5em;
    color: grey;
}

@media(min-width:455px) {
    .post-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .post-byline {
        flex-direction: row;
    }

    .author-avatar {
        max-height: 2.5em;
    }

    .author-info {
        text-align: left;
    }
}