.site-head-container {
    background-color: #222;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: transparent;
    border: none;
}

.nav-link {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.site-nav-left {
    padding: 8px;
}

.home-logo {
    width: 40px;
    background-color: white;
    border-radius: 4px;
}

.site-nav-right {
    display: flex;
    gap: 30px;
    padding: 10px;
    align-items: center;
}

.site-banner {
    padding: 20px;
}