.site-head {
    background-color: #222;
    padding: 20px;
    position: sticky;
    top: 0;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.nav-button {
    background-color: transparent;
    border: none;
}

.nav-link {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
}

.home-logo {
    width: 40px;
    background-color: white;
    border-radius: 4px;
}

.site-nav-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.site-banner {
    margin: 0;
}