.site-head-container {
    background-color: #222;
    border: 2px solid red;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

.home-logo-button {
    background-image: url("images/blockchain-icon.png");
    height: 50px;
    background-size: contain;
    text-align: center;
    display: inline-block;
    font-size: large;
    color: white;
    background-color: white;
    border: none;
    border-radius: 8px;
}