@import "site-head.css";
@import "site-main.css";
@import "site-foot.css";

html {
    font: 100%/1.6em "Roboto", sans-serif;;
    color: white;
    /*background-color: #222;*/
}

body {
    display: grid;
    grid-template-columns: 100%;
}